@import "tailwindcss";

@theme {
  --font-display: "Arial", "sans-serif";
  --animate-float: float 3s ease-in;

  @keyframes float {
    to {
      transform: translateY(-800%);
      opacity: 0;
    }
  }
}

/* Base styles */
body {
  @apply antialiased text-gray-800;
}

/* Remove default styles from App.tsx */
main {
  @apply w-full min-h-screen;
}

/* Add responsive container */
.container {
  @apply mx-auto px-4;
}

h1 {
  @apply font-medium text-4xl text-black;
}
